In [8]:
import pandas as pd
import numpy as np

### Error in CLeaned for analysis all data found. Need to address before further progress can be made. Na's and out of orders show up in our new columns. This appears to come from the process of making Cleaned_For_Analysis_All_Data.csv

In [9]:
df = pd.read_csv('../Created CSVs/Cleaned_For_Analysis_All_Data.csv')

In [4]:
#df = df.drop(['Unnamed: 0', 'Unnamed: 0.1', 'index'], axis =1)

ValueError: labels ['Unnamed: 0.1' 'index'] not contained in axis

In [10]:
df.head()

,Unnamed: 0,Date,Time,Weather & Air Temp:,Water Temp:,Corrected Water Temp:,pH,Corrected pH,DO,Corrected DO,...,Grouped Corrected Common Name,Quantity,Corrected Quantity,Scientific Name,Instructors/ Seine Staff:,# student seiners (CLASSES ONLY),# of visitors (Public Seine ONLY),# Brought to Ed Center,"Other info (Gender, Length, Dead/Alive, other physical description)",NOTES FROM SEINEING SEASON:
0,0,2008-09-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,tunicates,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2008-09-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,northern pipefish,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2008-09-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,shrimp,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,2008-09-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,shrimp,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,2008-09-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,hermit crab,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
grouped_df = df.groupby('Date')

In [12]:
",".join(list(grouped_df.get_group('2011-07-12')['Grouped Corrected Common Name']))

'atlantic silverside,blue crab,comb jelly,spider crab,jellyfish,tunicates,sea snail'

In [13]:
for col in grouped_df.get_group('2011-07-12').columns:
    print col

Unnamed: 0
Date
Time
Weather & Air Temp:
Water Temp:
Corrected Water Temp:
pH
Corrected pH
DO
Corrected DO
Turbidity
Salinity
Corrected Salinity
Tide is moving
Tide Times
# Hauls
Corrected # Hauls
Common Name
Corrected Common Name
Grouped Corrected Common Name
Quantity
Corrected Quantity
Scientific Name
Instructors/ Seine Staff:
# student seiners (CLASSES ONLY)
# of visitors (Public Seine ONLY)
# Brought to Ed Center
Other info (Gender, Length, Dead/Alive, other physical description)
NOTES FROM SEINEING SEASON:

In [14]:
from collections import defaultdict

In [15]:
dict_df = defaultdict(list)

In [16]:

for date in grouped_df.groups:
    for col in grouped_df.get_group(date).columns:
        if col in ['Grouped Corrected Common Name','Corrected Common Name','Corrected Quantity', 'Common Name', 'Quantity']:
            dict_df[col].append(",".join([str(x) for x in list(grouped_df.get_group(date)[col])]))
        else:
            dict_df[col].append(list(grouped_df.get_group(date)[col])[0])

In [17]:
combined_df =  pd.DataFrame(dict_df)

In [18]:
len(combined_df.columns)

29

In [19]:
combined_df = combined_df[['Date','Time','Weather & Air Temp:','Water Temp:','Corrected Water Temp:','pH','Corrected pH','DO',
              'Corrected DO','Turbidity','Salinity',
              'Corrected Salinity','Tide is moving','Tide Times','# Hauls','Corrected # Hauls','Common Name', 'Corrected Common Name', 
              'Grouped Corrected Common Name', 'Quantity', 
             'Corrected Quantity', 'Scientific Name',
            'Instructors/ Seine Staff:','# student seiners (CLASSES ONLY)',
             '# of visitors (Public Seine ONLY)', '# Brought to Ed Center',
            'NOTES FROM SEINEING SEASON:']].sort_values(by = 'Date').reset_index().drop('index', axis=1)

In [21]:
combined_df

,Date,Time,Weather & Air Temp:,Water Temp:,Corrected Water Temp:,pH,Corrected pH,DO,Corrected DO,Turbidity,...,Corrected Common Name,Grouped Corrected Common Name,Quantity,Corrected Quantity,Scientific Name,Instructors/ Seine Staff:,# student seiners (CLASSES ONLY),# of visitors (Public Seine ONLY),# Brought to Ed Center,NOTES FROM SEINEING SEASON:
0,2008-09-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"sea squirt,northern pipefish,shore shrimp,sand...","tunicates,northern pipefish,shrimp,shrimp,herm...","nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,na...","1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1",NaN,NaN,NaN,NaN,NaN,NaN
1,2009-06-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"sea squirt,bay anchovy,northern pipefish,shore...","tunicates,bay anchovy,northern pipefish,shrimp...","nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan","1,1,1,1,1,1,1,1,1,1,1",NaN,NaN,NaN,NaN,NaN,NaN
2,2009-09-23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"lions mane jellyfish,green crab,atlantic silve...","jellyfish,green crab,atlantic silverside,north...","nan,nan,nan,nan,nan","1,1,1,1,1",NaN,NaN,NaN,NaN,NaN,NaN
3,2010-06-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"atlantic silverside,atlantic tomcod,blue crab,...","atlantic silverside,atlantic tomcod,blue crab,...","nan,nan,nan,nan,nan,nan,nan,nan,nan","1,1,1,1,1,1,1,1,1",NaN,NaN,NaN,NaN,NaN,NaN
4,2010-06-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"jelly fish,pin fish,comb jelly,sand shrimp,atl...","jellyfish,pin fish,comb jelly,shrimp,atlantic ...","nan,nan,nan,nan,nan","1,1,1,1,1",NaN,NaN,NaN,NaN,NaN,NaN
5,2010-07-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"atlantic silverside,comb jelly","atlantic silverside,comb jelly","nan,nan","1,1",NaN,NaN,NaN,NaN,NaN,NaN
6,2010-07-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"sand shrimp,shore shrimp,winter flounder,strip...","shrimp,shrimp,flatfish,striped bass,northern p...","nan,nan,nan,nan,nan,nan,nan","1,1,1,1,1,1,1",NaN,NaN,NaN,NaN,NaN,NaN
7,2010-07-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"northern pipefish,sand shrimp,striped bass,win...","northern pipefish,shrimp,striped bass,flatfish...","nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan","1,1,1,1,1,1,1,1,1,1,1",NaN,NaN,NaN,NaN,NaN,NaN
8,2010-07-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"winter flounder,blue crab,sand shrimp,striped ...","flatfish,blue crab,shrimp,striped bass,atlanti...","nan,nan,nan,nan,nan,nan,nan,nan,nan,nan","1,1,1,1,1,1,1,1,1,1",NaN,NaN,NaN,NaN,NaN,NaN
9,2010-07-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"comb jelly,atlantic silverside,blue crab,sand ...","comb jelly,atlantic silverside,blue crab,shrim...","nan,nan,nan,nan,nan,nan,nan,nan,nan","1,1,1,1,1,1,1,1,1",NaN,NaN,NaN,NaN,NaN,NaN
10,2010-07-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"lions mane jellyfish,atlantic silverside,blue ...","jellyfish,atlantic silverside,blue crab,comb j...","nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,na...","1,1,1,1,1,1,1,1,1,1,1,1,1",NaN,NaN,NaN,NaN,NaN,NaN
11,2010-07-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"comb jelly,blue crab,amphipod,clam worm probab...","comb jelly,blue crab,amphipod,polychaete worm,...","nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,na...","1,1,1,1,1,1,1,1,1,1,1,1,1",NaN,NaN,NaN,NaN,NaN,NaN
12,2010-07-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"northern pipefish,northern kingfish,bluefish,n...","northern pipefish,northern kingfish,bluefish,p...","nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan","1,1,1,1,1,1,1,1,1,1,1",NaN,NaN,NaN,NaN,NaN,NaN
13,2010-08-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"blue crab,northern puffer,unidentified hermit ...","blue crab,puffer,hermit crab,flatfish,shrimp,a...","nan,nan,nan,nan,nan,nan,nan,nan,nan","1,1,1,1,1,1,1,1,1",NaN,NaN,NaN,NaN,NaN,NaN
14,2010-09-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"comb jelly,atlantic silverside,oyster toadfish...","comb jelly,atlantic silverside,oyster toadfish...","nan,nan,nan,nan,nan,nan,nan,nan,nan","1,1,1,1,1,1,1,1,1",NaN,NaN,NaN,NaN,NaN,NaN
15,2010-09-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"sandworm,unidentified shrimp,atlantic silversi...","polychaete worm,shrimp,atlantic silverside,ane...","nan,nan,nan,nan,nan,nan,nan,nan,nan","1,1,1,1,1,1,1,1,1",NaN,NaN,NaN,NaN,NaN,NaN
16,2010-10-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"atlantic silverside,comb jelly,red beard spong...","atlantic silverside,comb jelly,sponge,mussel,a...","nan,nan,nan,nan,nan,nan","1,1,1,1,1,1",NaN,NaN,NaN,NaN,NaN,NaN
17,2011-05-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"atlantic tomcod,atlantic silverside,amphipod,u...","atlantic tomcod,atlantic silverside,amphipod,s...","1,6,2,3,2,2","1,6,2,3,2,2",NaN,NaN,NaN,NaN,NaN,NaN
18,2011-05-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"comb jelly,bay anchovy,atlantic silverside,blu...","comb jelly,bay anchovy,atlantic silverside,blu...","1,3,27,9,4,2,1,2,68,6,1","1,3,27,9,4,2,1,2,68,6,1",NaN,NaN,NaN,NaN,NaN,NaN
19,2011-05-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"bay anchovy,atlantic tomcod,comb jelly,green c...","bay anchovy,atlantic tomcod,comb jelly,green c...","36,4,45,1,2,2,1","36,4,45,1,2,2,1",NaN,NaN,NaN,NaN,NaN,NaN
20,2011-05-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"comb jelly,bay anchovy,blue crab,unidentified ...","comb jelly,bay anchovy,blue crab,shrimp,stripe...","2,73,1,1,1,3","2,73,1,1,1,3",NaN,NaN,NaN,NaN,NaN,NaN
21,2011-06-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"bay anchovy,atlantic tomcod,blue crab,comb jel...","bay anchovy,atlantic tomcod,blue crab,comb jel...","20,1,6,9,1,1,1,37","20,1,6,9,1,1,1,37",NaN,NaN,NaN,NaN,NaN,NaN
22,2011-06-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"golden star tunicate,bay anchovy,atlantic silv...","tunicates,bay anchovy,atlantic silverside,atla...","1,2,2,1,2,1,1,4,5,2,2","1,2,2,1,2,1,1,4,5,2,2",NaN,NaN,NaN,NaN,NaN,NaN
23,2011-06-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"bay anchovy,atlantic silverside,blue crab,unid...","bay anchovy,atlantic silverside,blue crab,sea ...","1,8,1,1,2,1,3,3,12","1,8,1,1,2,1,3,3,12",NaN,NaN,NaN,NaN,NaN,NaN
24,2011-07-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"tube worm,bay anchovy,atlantic silverside,comb...","tube worm,bay anchovy,atlantic silverside,comb...","1,5,18,60,1,1,15,10,4,1,30,1","1,5,18,60,1,1,15,10,4,1,30,1",NaN,NaN,NaN,NaN,NaN,NaN
25,2011-07-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"atlantic silverside,blue crab,comb jelly,hogch...","atlantic silverside,blue crab,comb jelly,flatfish","5,1,20,1","5,1,20,1",NaN,NaN,NaN,NaN,NaN,NaN
26,2011-07-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"atlantic silverside,blue crab,comb jelly,spide...","atlantic silverside,blue crab,comb jelly,spide...","5,2,40,1,5,10,10","5,2,40,1,5,10,10",NaN,NaN,NaN,NaN,NaN,NaN
27,2011-07-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"comb jelly,bay anchovy,atlantic silverside,uni...","comb jelly,bay anchovy,atlantic silverside,shr...","20,2,3,1,1,1","20,2,3,1,1,1",NaN,NaN,NaN,NaN,NaN,NaN
28,2011-08-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"atlantic silverside,blue crab,comb jelly,easte...","atlantic silverside,blue crab,comb jelly,oyste...","6,1,20,1,0","6,1,20,1,0",NaN,NaN,NaN,NaN,NaN,NaN
29,2011-08-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"atlantic silverside,comb jelly,eastern oyster,...","atlantic silverside,comb jelly,oyster,oyster t...","10,20,1,1,0","10,20,1,1,0",NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87,2016-06-01,10:00AM- 12:00PM,77 F,70 F,70.0,7,7.00,4,4.0,NaN,...,"blue crab,atlantic tomcod,northern pipefish,as...","blue crab,atlantic tomcod,northern pipefish,as...","1,1,1,5,2,1,25,1,2,2","1,1,1,5,2,1,25,1,2,2",NaN,"Christina, Eliza, Haley, Isa, BOP",NaN,NaN,NaN,NaN
88,2016-06-04,2:00PM- 3:30PM,73 F,79 F,79.0,7,7.00,4,4.0,NaN,...,"atlantic tomcod,comb jelly,striped bass,asian ...","atlantic tomcod,comb jelly,striped bass,asian ...","1,80,11,7,72,2,2,11,2,4 clusters,8,1,1","1,80,11,7,72,2,2,11,2,4,8,1,1",NaN,"Isa, Christina, Krista, Ethan, Ryan, Sara, Laura",NaN,105,1,NaN
89,2016-06-14,11AM - 12PM,82 F,67 F,67.0,7,7.00,4,4.0,NaN,...,"atlantic tomcod,comb jelly,asian shore crab","atlantic tomcod,comb jelly,asian shore crab","1,75,4","1,75,4",NaN,"Isa, Sigrun, Eliza",5,20,1,NaN
90,2016-06-15,9:00AM - 1:00PM,75 F,63 F,63.0,?,NaN,?,NaN,NaN,...,"striped bass,northern pipefish,atlantic silver...","striped bass,northern pipefish,atlantic silver...","1,2,1,1,1,200","1,2,1,1,1,200",NaN,Isa,7,30,1,NaN
91,2016-07-01,12:00PM - 1:00PM,84 F,73 F,73.0,7,7.00,4,4.0,NaN,...,"lady crab,asian shore crab,comb jelly","lady crab,asian shore crab,comb jelly","1,1,10","1,1,10",NaN,"Isa, Eliza, Shad, Haley",4,6,1,NaN
92,2016-07-13,1:00PM-2:30PM,83 F,74 F,74.0,?,NaN,?,NaN,NaN,...,"comb jelly,blue crab,atlantic menhaden","comb jelly,blue crab,atlantic menhaden","6,1,28","6,1,28",NaN,"Isa, Peter, Eliza",14,19,NaN,NaN
93,2016-07-16,12:00PM - 1:30PM,87 F,72 F,72.0,7,7.00,4,4.0,NaN,...,"sand shrimp,unidentified hermit crab,shore shr...","shrimp,hermit crab,shrimp,flatfish,flatfish,se...","1,1,1,1,1,1,1,1","1,1,1,1,1,1,1,1",NaN,Cynthia and others,8,50,1,NaN
94,2016-07-28,?,87 F,74 F,74.0,?,NaN,4,4.0,NaN,...,"atlantic silverside,black sea bass,comb jelly,...","atlantic silverside,black sea bass,comb jelly,...","6,1,45,1,1,2,1","6,1,45,1,1,2,1",NaN,"Peter, Isa",?,?,1,NaN
95,2016-07-29,10:30AM - 1:00PM,85 F,75 F,75.0,?,NaN,?,NaN,NaN,...,"atlantic silverside,blue crab,asian shore crab...","atlantic silverside,blue crab,asian shore crab...","2,2,1,1,1,2,10+,20+,1","2,2,1,1,1,2,10,20,1",NaN,3,22,80,2,NaN
96,2016-08-12,10:00AM - 1:00PM,93 F,?,NaN,?,NaN,?,NaN,NaN,...,"winter flounder,atlantic silverside,porgy,cunn...","flatfish,atlantic silverside,porgy,cunner,gree...","1,14,1,1,1,1,1,2,3,50","1,14,1,1,1,1,1,2,3,50",NaN,Isa,8,70,NaN,NaN
97,2016-08-13,10:00AM - 12:00PM,96 F,?,NaN,?,NaN,?,NaN,NaN,...,"lady crab,unidentified mussel,winter flounder,...","lady crab,mussel,flatfish,shrimp,atlantic silv...","1,1,1,5,11,1,6,1,50,1,10,1,2,1,25,1","1,1,1,5,11,1,6,1,50,1,10,1,2,1,25,1",NaN,Peter Park,6,10,1,NaN
98,2016-09-18,4:00PM - 7:00PM,82 F,?,NaN,?,NaN,?,NaN,NaN,...,"comb jelly,black sea bass,cunner,porgy,silver ...","comb jelly,black sea bass,cunner,porgy,silver ...","Too Many To Count,2,1,3,1,6,1,1,1,7,1,22,1,1,T...","30,2,1,3,1,6,1,1,1,7,1,22,1,1,30,2,4,2,1",?,Peter Park,?,?,NaN,NaN
99,2016-09-19,10:00AM-12:30PM,76 F,74 F,74.0,?,NaN,?,NaN,NaN,...,"black sea bass,striped bass,sea robin,bay anch...","black sea bass,striped bass,sea robin,bay anch...","1,1,1,12,21,32,3,63,Too Many To Count,2,1,1,1,...","1,1,1,12,21,32,3,63,30,2,1,1,1,1,30,4,1,23,30,...",Centropristis Striata,"Park, Phillips",?,?,NaN,NaN
100,2016-09-25,10:00AM - 11:40AM,64 F,65 F,65.0,7,7.00,4,4.0,NaN,...,"bay anchovy,atlantic silverside,cunner,comb je...","bay anchovy,atlantic silverside,cunner,comb je...","1,10,1,Too Many To Count,4,2,1,1,1,2","1,10,1,30,4,2,1,1,1,2",NaN,"Cynthia Fowx, Hopson, Phillips",None,30,NaN,NaN
101,2016-09-28,10:30AM - 12:30AM,70 F,74 F,74.0,?,NaN,?,NaN,NaN,...,"comb jelly,asian shore crab,moon jelly,atlanti...","comb jelly,asian shore crab,jellyfish,atlantic...","TMTC,6,1,31,4","30,6,1,31,4",NaN,"Isa, Eliza, Shad",?,70,NaN,NaN
102,2016-10-01,?,?,?,NaN,?,NaN,?,NaN,NaN,...,"cunner,mullet fish,porgy,atlantic silverside,m...","cunner,mullet fish,porgy,atlantic silverside,s...","1,1,5,26,1,TMTC,1,2","1,1,5,26,1,30,1,2",NaN,?,?,?,NaN,NaN
103,2017-06-03,10:00 AM- 11:30 AM,"68 F @ 9:45 AM, Cloudy","59 F @ 9 AM, 62 F @ 10 AM",59.0,did not perform,NaN,9,9.0,"20.4 cm, 40 NTU",...,"comb jelly,atlantic menhaden,blueback herring,...","comb jelly,atlantic menhaden,herring,american ...","TMTC,1,14,1,1,2,3,1,1,2,unknown","30,1,14,1,1,2,3,1,1,2,1",NaN,"Peter Park, Haley, Shad, Isa, Christina, 2 BBP...",NaN,118,NaN,"During several seines throughtout the summer, ..."
104,2017-06-09,3:30 PM- 5:00 PM,"90 F @ 3PM, 81 F @ 5 PM","66 F @ 3 PM, 63 F @ 5PM",66.0,"7, 7 (two tests by students)",7.00,"4, 0 (two tests by students)",4.0,Did not perform,...,"northern pipefish,comb jelly,striped bass,bay ...","northern pipefish,comb jelly,striped bass,bay ...","2,20,1,1,2,16,1,1,38","2,20,1,1,2,16,1,1,38",NaN,"Christina, Isa, Haley, Eliza",8 (St. Francis After School) plus few from YES...,NaN,NaN,NaN
105,2017-06-10,9:30 AM- 11:30 PM,75 F,73 F,73.0,8,8.00,0,0.0,Did not perform,...,"sand shrimp,blueback herring,northern pipefish...","shrimp,herring,northern pipefish,blue crab,asi...","7,5,1,2,3,7,2,2,1,TMTC,TMTC,1,6","7,5,1,2,3,7,2,2,1,30,30,1,6",NaN,"Christina, Isa, Eliza, Haley, 4 SA, Laura",students too young,NaN,7,NaN
106,2017-06-18,9:30 AM- 11:00 AM,77 F/ Sunny,70 F,70.0,7,7.00,4,4.0,Did not perform,...,"lady crab,comb jelly,mud snail,blueback herrin...","lady crab,comb jelly,sea snail,herring,shrimp,...","1,20 +,2,23,1,1,1,2","1,20,2,23,1,1,1,2",NaN,"Peter Park, 11 seiners",NaN,9,NaN,NaN
107,2017-06-25,4:00 PM- 5:00 PM,80 F/ Sun with clouds,Did not perform,NaN,did not perform,NaN,did not perform,NaN,did not perform,...,"sand shrimp,winter flounder,comb jelly,mud cra...","shrimp,flatfish,comb jelly,mud crab,blue crab,...","25,2,5,1,1,1","25,2,5,1,1,1",NaN,"Cynthia, Haley, Laura, Sarah, Isa",NaN,30?,1,NaN
108,2017-07-06,11:30 AM,84 F / Cloudy,78 F,78.0,7.8,7.80,6,6.0,"20 cm , 30 NTU",...,"tautog,comb jelly,oyster toadfish,unidentified...","tautog,comb jelly,oyster toadfish,herring,sea ...","1,TMTC,1,4,3,1,1,2","1,30,1,4,3,1,1,2",NaN,"Haley, Christina, Isa, Eliza, Shad",NaN,N/A Tank Stocking Day,1,NaN
109,2017-07-15,6:00 PM,"85 F, Sunny",75 F,75.0,7.5,7.50,6,6.0,20 NTU,...,"atlantic silverside,alewife,blue crab,comb jel...","atlantic silverside,herring,blue crab,comb jel...","5,5,1,TMTC,2,1,2,1,1,1,1 colony,1,5,1","5,5,1,30,2,1,2,1,1,1,1,1,5,1",NaN,"Cynthia, Volunteer, Eliza, Laura, Ethan, CMT",NaN,34,5,NaN
110,2017-07-19,10:30 AM,76 F,82 F,82.0,7 (4 TESTS),7.00,"3,4 (2 TESTS)",3.0,10 NTU?,...,"winter flounder,blue crab,atlantic silverside,...","flatfish,blue crab,atlantic silverside,asian s...","1,5,4,1,9,8 +,1,50+,1,3,1,1,2,2","1,5,4,1,9,8,1,50,1,3,1,1,2,2",NaN,"Laura, Eliza, Zebeda, Shad, Isa",St. Francis 20 seiners,NaN,1,NaN
111,2017-07-22,Start: 1:30PM End:2:30PM,88F Sunny,76F,76.0,7.57,7.57,5,5.0,NaN,...,"unidentified herring,asian shore crab,striped ...","herring,asian shore crab,striped bass,blue cra...","8,1,1,2,1,2,1,2","8,1,1,2,1,2,1,2",NaN,"Isa, Cythia, Manny, Ethan, Bob",NaN,49,NaN,NaN
112,2017-08-02,Start: 10:00 AM End: 2:30 PM,84 F Partly Cloudy,75F,75.0,7.7,7.70,6,6.0,37 cm,...,"blue crab,striped bass,atlantic silverside,com...","blue crab,striped bass,atlantic silverside,com...","1,9,2,TMTC,12","1,9,2,30,12",NaN,"Christina, Shad, Eliza, Isa, Zebeda",students too young,NaN,0,NaN
113,2017-08-05,Unknown,73 F,75 F,75.0,7.5,7.50,6,6.0,35 cm,...,"northern kingfish,tautog,cunner,northern pipef...","northern kingfish,tautog,cunner,northern pipef...","1,4,1,1,34,1,3,4,1,7,8,TMTC,43,3,2","1,4,1,1,34,1,3,4,1,7,8,30,43,3,2",NaN,"Peter Park, Isa, Eliza, Kathy (vol), Shelieta ...",NaN,108,1,NaN
114,2017-08-20,Start: 1:00 PM End: 2:30 PM,75 F Sunny,75 F,75.0,7.31,7.31,4,4.0,24,...,"sand shrimp,tautog,striped bass,atlantic menha...","shrimp,tautog,striped bass,atlantic menhaden,a...","2,1,8,1,16,6,10,1,1,3,4,2,5,2,7,1,1","2,1,8,1,16,6,10,1,1,3,4,2,5,2,7,1,1",NaN,Peter Park,NaN,127,NaN,NaN
115,2017-09-17,Start: 11:45 AM End: 1:30 PM,75 F Partly Cloudy,72 F,72.0,7.77,7.77,6,6.0,60,...,"shore shrimp,atlantic silverside,striped bass,...","shrimp,atlantic silverside,striped bass,blue c...","2,6,1,5,1,12,1,TMTC,1,1","2,6,1,5,1,12,1,30,1,1",NaN,"Cynthia F, Isa Del Bello",NaN,NaN,NaN,NaN
116,2017-10-07,Start: 3:00 PM End: 4:30 PM,84.5 F,72 F,72.0,NaN,NaN,6,6.0,0 JTU,...,"oyster drill snail,comb jelly,asian shore crab...","sea snail,comb jelly,asian shore crab,sea snail","4,TMTC,14,9","4,30,14,9",NaN,"Eliza, Elizabeth",11,2,1,NaN

In [22]:
combined_df.to_csv('../Created CSVs/Cleaned_For_Analysis_Compressed_By_Day.csv')

In [1]:
#combined_df