In [1]:
import pandas as pd
import numpy as np

### Error in CLeaned for analysis all data found. Need to address before further progress can be made. Na's and out of orders show up in our new columns. This appears to come from the process of making Cleaned_For_Analysis_All_Data.csv

In [5]:
df = pd.read_csv('../Created CSVs/Cleaned_For_Analysis_All_Data.csv')

In [6]:
df = df.drop(['Unnamed: 0', 'Unnamed: 0.1', 'index'], axis =1)

In [7]:
df.head()

,Date,Time,Weather & Air Temp:,Water Temp:,Tide Times,Tide is moving,DO,pH,Salinity,Turbidity,...,"Other info (Gender, Length, Dead/Alive, other physical description)",NOTES FROM SEINEING SEASON:,Corrected pH,Corrected Water Temp:,Corrected Salinity,Corrected DO,Corrected Quantity,Corrected # Hauls,Grouped Corrected Common Name,Corrected Common Name
0,2008-09-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,tunicates,sea squirt
1,2008-09-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,shrimp,shore shrimp
2,2008-09-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,shrimp,mantis shrimp
3,2008-09-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,shrimp,sand shrimp
4,2008-09-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,hermit crab,unidentified hermit crab

In [8]:
grouped_df = df.groupby('Date')

In [62]:
",".join(list(grouped_df.get_group('2011-07-12')['Grouped Corrected Common Name']))

'blue crab,comb jelly,spider crab,jellyfish,tunicates,sea snail,atlantic silverside'

In [41]:
for col in grouped_df.get_group('2011-07-12').columns:
    print col

Date
Time
Weather & Air Temp:
Water Temp:
Tide Times
Tide is moving
DO
pH
Salinity
Turbidity
# student seiners (CLASSES ONLY)
# of visitors (Public Seine ONLY)
Instructors/ Seine Staff:
# Hauls
Scientific Name
Common Name
Quantity
# Brought to Ed Center
Other info (Gender, Length, Dead/Alive, other physical description)
NOTES FROM SEINEING SEASON:
Corrected pH
Corrected Water Temp:
Corrected Salinity
Corrected DO
Corrected Quantity
Corrected # Hauls
Grouped Corrected Common Name
Corrected Common Name

In [9]:
from collections import defaultdict

In [10]:
dict_df = defaultdict(list)

In [11]:

for date in grouped_df.groups:
    for col in grouped_df.get_group(date).columns:
        if col in ['Grouped Corrected Common Name','Corrected Common Name','Corrected Quantity', 'Common Name', 'Quantity']:
            dict_df[col].append(",".join([str(x) for x in list(grouped_df.get_group(date)[col])]))
        else:
            dict_df[col].append(list(grouped_df.get_group(date)[col])[0])

In [13]:
combined_df =  pd.DataFrame(dict_df)

In [24]:
len(combined_df.columns)

28

In [27]:
combined_df = combined_df[['Date','Time','Weather & Air Temp:','Water Temp:','Corrected Water Temp:','pH','Corrected pH','DO',
              'Corrected DO','Turbidity','Salinity',
              'Corrected Salinity','Tide is moving','Tide Times','# Hauls','Corrected # Hauls','Common Name', 'Corrected Common Name', 
              'Grouped Corrected Common Name', 'Quantity', 
             'Corrected Quantity', 'Scientific Name',
            'Instructors/ Seine Staff:','# student seiners (CLASSES ONLY)',
             '# of visitors (Public Seine ONLY)', '# Brought to Ed Center',
            'NOTES FROM SEINEING SEASON:']].sort_values(by = 'Date').reset_index().drop('index', axis=1)

In [29]:
combined_df.to_csv('../Created CSVs/Cleaned_For_Analysis_Compressed_By_Day.csv')

In [30]:
combined_df

,Date,Time,Weather & Air Temp:,Water Temp:,Corrected Water Temp:,pH,Corrected pH,DO,Corrected DO,Turbidity,...,Corrected Common Name,Grouped Corrected Common Name,Quantity,Corrected Quantity,Scientific Name,Instructors/ Seine Staff:,# student seiners (CLASSES ONLY),# of visitors (Public Seine ONLY),# Brought to Ed Center,NOTES FROM SEINEING SEASON:
0,2008-09-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"sea squirt,shore shrimp,mantis shrimp,sand shr...","tunicates,shrimp,shrimp,shrimp,hermit crab,oys...","nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,na...","1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1",NaN,NaN,NaN,NaN,NaN,NaN
1,2009-06-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"bay anchovy,northern pipefish,striped bass,sho...","bay anchovy,northern pipefish,striped bass,shr...","nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan","1,1,1,1,1,1,1,1,1,1,1",NaN,NaN,NaN,NaN,NaN,NaN
2,2009-09-23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"lions mane jellyfish,green crab,atlantic silve...","jellyfish,green crab,atlantic silverside,north...","nan,nan,nan,nan,nan","1,1,1,1,1",NaN,NaN,NaN,NaN,NaN,NaN
3,2010-06-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"atlantic silverside,atlantic tomcod,blue crab,...","atlantic silverside,atlantic tomcod,blue crab,...","nan,nan,nan,nan,nan,nan,nan,nan,nan","1,1,1,1,1,1,1,1,1",NaN,NaN,NaN,NaN,NaN,NaN
4,2010-06-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"comb jelly,jelly fish,atlantic silverside,nort...","comb jelly,jellyfish,atlantic silverside,north...","nan,nan,nan,nan,nan","1,1,1,1,1",NaN,NaN,NaN,NaN,NaN,NaN
5,2010-07-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"atlantic silverside,comb jelly","atlantic silverside,comb jelly","nan,nan","1,1",NaN,NaN,NaN,NaN,NaN,NaN
6,2010-07-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"sand shrimp,shore shrimp,winter flounder,strip...","shrimp,shrimp,flatfish,striped bass,northern p...","nan,nan,nan,nan,nan,nan,nan","1,1,1,1,1,1,1",NaN,NaN,NaN,NaN,NaN,NaN
7,2010-07-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"sand shrimp,striped bass,northern puffer,north...","shrimp,striped bass,puffer,northern pipefish,l...","nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan","1,1,1,1,1,1,1,1,1,1,1",NaN,NaN,NaN,NaN,NaN,NaN
8,2010-07-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"winter flounder,blue crab,sand shrimp,striped ...","flatfish,blue crab,shrimp,striped bass,atlanti...","nan,nan,nan,nan,nan,nan,nan,nan,nan,nan","1,1,1,1,1,1,1,1,1,1",NaN,NaN,NaN,NaN,NaN,NaN
9,2010-07-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"atlantic silverside,blue crab,sand shrimp,comb...","atlantic silverside,blue crab,shrimp,comb jell...","nan,nan,nan,nan,nan,nan,nan,nan,nan","1,1,1,1,1,1,1,1,1",NaN,NaN,NaN,NaN,NaN,NaN
10,2010-07-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"atlantic silverside,blue crab,comb jelly,jelly...","atlantic silverside,blue crab,comb jelly,jelly...","nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,na...","1,1,1,1,1,1,1,1,1,1,1,1,1",NaN,NaN,NaN,NaN,NaN,NaN
11,2010-07-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"blue crab,amphipod,clam worm probably nereis s...","blue crab,amphipod,polychaete worm,hermit crab...","nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,na...","1,1,1,1,1,1,1,1,1,1,1,1,1",NaN,NaN,NaN,NaN,NaN,NaN
12,2010-07-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"northern kingfish,winter flounder,northern puf...","northern kingfish,flatfish,puffer,northern pip...","nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan","1,1,1,1,1,1,1,1,1,1,1",NaN,NaN,NaN,NaN,NaN,NaN
13,2010-08-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"blue crab,northern puffer,unidentified hermit ...","blue crab,puffer,hermit crab,shrimp,shrimp,asi...","nan,nan,nan,nan,nan,nan,nan,nan,nan","1,1,1,1,1,1,1,1,1",NaN,NaN,NaN,NaN,NaN,NaN
14,2010-09-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"atlantic silverside,oyster toadfish,anemone,co...","atlantic silverside,oyster toadfish,anemone,co...","nan,nan,nan,nan,nan,nan,nan,nan,nan","1,1,1,1,1,1,1,1,1",NaN,NaN,NaN,NaN,NaN,NaN
15,2010-09-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"atlantic silverside,northern pipefish,sandworm...","atlantic silverside,northern pipefish,polychae...","nan,nan,nan,nan,nan,nan,nan,nan,nan","1,1,1,1,1,1,1,1,1",NaN,NaN,NaN,NaN,NaN,NaN
16,2010-10-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"atlantic silverside,red beard sponge,blue muss...","atlantic silverside,sponge,mussel,asian shore ...","nan,nan,nan,nan,nan","1,1,1,1,1",NaN,NaN,NaN,NaN,NaN,NaN
17,2011-05-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"amphipod,atlantic silverside,atlantic tomcod,c...","amphipod,atlantic silverside,atlantic tomcod,c...","2,6,1,2,2,3","2,6,1,2,2,3",NaN,NaN,NaN,NaN,NaN,NaN
18,2011-05-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"bay anchovy,atlantic silverside,blue crab,comb...","bay anchovy,atlantic silverside,blue crab,comb...","3,27,9,1,2,1,6,1,2,68,4","3,27,9,1,2,1,6,1,2,68,4",NaN,NaN,NaN,NaN,NaN,NaN
19,2011-05-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"bay anchovy,atlantic tomcod,comb jelly,green c...","bay anchovy,atlantic tomcod,comb jelly,green c...","36,4,45,1,2,2,1","36,4,45,1,2,2,1",NaN,NaN,NaN,NaN,NaN,NaN
20,2011-05-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"bay anchovy,blue crab,comb jelly,unidentified ...","bay anchovy,blue crab,comb jelly,herring,shrim...","73,1,2,3,1,1","73,1,2,3,1,1",NaN,NaN,NaN,NaN,NaN,NaN
21,2011-06-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"bay anchovy,atlantic tomcod,blue crab,comb jel...","bay anchovy,atlantic tomcod,blue crab,comb jel...","20,1,6,9,1,1,1,37","20,1,6,9,1,1,1,37",NaN,NaN,NaN,NaN,NaN,NaN
22,2011-06-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"bay anchovy,atlantic silverside,atlantic tomco...","bay anchovy,atlantic silverside,atlantic tomco...","2,2,1,2,2,1,1,1,4,5,2","2,2,1,2,2,1,1,1,4,5,2",NaN,NaN,NaN,NaN,NaN,NaN
23,2011-06-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"bay anchovy,atlantic silverside,blue crab,blue...","bay anchovy,atlantic silverside,blue crab,blue...","1,8,1,2,12,1,3,3,1","1,8,1,2,12,1,3,3,1",NaN,NaN,NaN,NaN,NaN,NaN
24,2011-07-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"bay anchovy,atlantic silverside,comb jelly,gre...","bay anchovy,atlantic silverside,comb jelly,gre...","5,18,60,1,1,30,1,15,10,4,1,1","5,18,60,1,1,30,1,15,10,4,1,1",NaN,NaN,NaN,NaN,NaN,NaN
25,2011-07-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"atlantic silverside,blue crab,comb jelly,hogch...","atlantic silverside,blue crab,comb jelly,flatfish","5,1,20,1","5,1,20,1",NaN,NaN,NaN,NaN,NaN,NaN
26,2011-07-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"atlantic silverside,blue crab,comb jelly,spide...","atlantic silverside,blue crab,comb jelly,spide...","5,2,40,1,5,10,10","5,2,40,1,5,10,10",NaN,NaN,NaN,NaN,NaN,NaN
27,2011-07-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"atlantic silverside,bay anchovy,comb jelly,uni...","atlantic silverside,bay anchovy,comb jelly,shr...","3,2,20,1,1,1","3,2,20,1,1,1",NaN,NaN,NaN,NaN,NaN,NaN
28,2011-08-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"atlantic silverside,blue crab,comb jelly,easte...","atlantic silverside,blue crab,comb jelly,oyste...","6,1,20,1,0","6,1,20,1,0",NaN,NaN,NaN,NaN,NaN,NaN
29,2011-08-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"atlantic silverside,comb jelly,eastern oyster,...","atlantic silverside,comb jelly,oyster,oyster t...","10,20,1,1,0","10,20,1,1,0",NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81,2016-05-31,10:00 AM- 12:00PM,"75 F, breezy",70 F,70.0,7,7.00,4,4.0,NaN,...,"northern pipefish,atlantic silverside,mud snai...","northern pipefish,atlantic silverside,sea snai...","1,4,1,1,3,2,~20,~6,~50","1,4,1,1,3,2,20,6,50",NaN,"Christina, Sigrun, Isa, Eliza, 1 volunteer, 3 ...",NaN,NaN,NaN,NaN
82,2016-06-01,10:00AM- 12:00PM,77 F,70 F,70.0,7,7.00,4,4.0,NaN,...,"atlantic silverside,atlantic tomcod,northern p...","atlantic silverside,atlantic tomcod,northern p...","2,1,1,5,1,2,25,1,2,1","2,1,1,5,1,2,25,1,2,1",NaN,"Christina, Eliza, Haley, Isa, BOP",NaN,NaN,NaN,NaN
83,2016-06-04,2:00PM- 3:30PM,73 F,79 F,79.0,7,7.00,4,4.0,NaN,...,"atlantic silverside,comb jelly,atlantic tomcod...","atlantic silverside,comb jelly,atlantic tomcod...","72,80,1,11,2,7,1,2,4 clusters,1,8,11,2","72,80,1,11,2,7,1,2,4,1,8,11,2",NaN,"Isa, Christina, Krista, Ethan, Ryan, Sara, Laura",NaN,105,20,NaN
84,2016-06-14,11AM - 12PM,82 F,67 F,67.0,7,7.00,4,4.0,NaN,...,"atlantic tomcod,comb jelly,asian shore crab","atlantic tomcod,comb jelly,asian shore crab","1,75,4","1,75,4",NaN,"Isa, Sigrun, Eliza",5,20,1,NaN
85,2016-06-15,9:00AM - 1:00PM,75 F,63 F,63.0,?,NaN,?,NaN,NaN,...,"atlantic silverside,striped bass,northern pipe...","atlantic silverside,striped bass,northern pipe...","1,1,2,1,200,1","1,1,2,1,200,1",NaN,Isa,7,30,NaN,NaN
86,2016-07-01,12:00PM - 1:00PM,84 F,73 F,73.0,7,7.00,4,4.0,NaN,...,"lady crab,asian shore crab,comb jelly","lady crab,asian shore crab,comb jelly","1,1,10","1,1,10",NaN,"Isa, Eliza, Shad, Haley",4,6,1,NaN
87,2016-07-13,1:00PM-2:30PM,83 F,74 F,74.0,?,NaN,?,NaN,NaN,...,"comb jelly,blue crab,atlantic menhaden","comb jelly,blue crab,atlantic menhaden","6,1,28","6,1,28",NaN,"Isa, Peter, Eliza",14,19,NaN,NaN
88,2016-07-16,12:00PM - 1:30PM,87 F,72 F,72.0,7,7.00,4,4.0,NaN,...,"shore shrimp,sand shrimp,unidentified hermit c...","shrimp,shrimp,hermit crab,flatfish,flatfish,as...","1,1,1,1,1,1,1,1","1,1,1,1,1,1,1,1",NaN,Cynthia and others,8,50,1,NaN
89,2016-07-28,?,87 F,74 F,74.0,?,NaN,4,4.0,NaN,...,"atlantic silverside,black sea bass,comb jelly,...","atlantic silverside,black sea bass,comb jelly,...","6,1,45,1,1,2,1","6,1,45,1,1,2,1",NaN,"Peter, Isa",?,?,1,NaN
90,2016-07-29,10:30AM - 1:00PM,85 F,75 F,75.0,?,NaN,?,NaN,NaN,...,"blue crab,mud crab,asian shore crab,green crab...","blue crab,mud crab,asian shore crab,green crab...","2,1,1,1,2,2,10+,1,20+","2,1,1,1,2,2,10,1,20",NaN,3,22,80,NaN,NaN
91,2016-08-12,10:00AM - 1:00PM,93 F,?,NaN,?,NaN,?,NaN,NaN,...,"atlantic silverside,porgy,winter flounder,gree...","atlantic silverside,porgy,flatfish,green crab,...","14,1,1,1,3,2,1,1,1,50","14,1,1,1,3,2,1,1,1,50",NaN,Isa,8,70,7,NaN
92,2016-08-13,10:00AM - 12:00PM,96 F,?,NaN,?,NaN,?,NaN,NaN,...,"atlantic silverside,shore shrimp,mud snail,uni...","atlantic silverside,shrimp,sea snail,mussel,cu...","11,5,6,1,1,1,1,1,1,1,1,1,25,10,2,50","11,5,6,1,1,1,1,1,1,1,1,1,25,10,2,50",NaN,Peter Park,6,10,NaN,NaN
93,2016-09-18,4:00PM - 7:00PM,82 F,?,NaN,?,NaN,?,NaN,NaN,...,"black sea bass,cunner,porgy,atlantic silversid...","black sea bass,cunner,porgy,atlantic silversid...","2,1,3,7,1,6,1,1,Too Many To Count,Did Not Coun...","2,1,3,7,1,6,1,1,30,1,1,22,1,1,1,30,2,4,2",Centropristis Striata,Peter Park,?,?,1,NaN
94,2016-09-19,7:00AM -10:00AM,76 F,74.3 F,74.3,?,NaN,?,NaN,NaN,...,"striped bass,sea robin,bay anchovy,atlantic si...","striped bass,sea robin,bay anchovy,atlantic si...","1,1,12,21,32,4,3,2,Too Many To Count,23,1,63,1...","1,1,12,21,32,4,3,2,30,23,1,63,1,1,1,30,1,1,1,3...",Morone Saxatilis,Peter,?,?,NaN,NaN
95,2016-09-25,10:00AM - 11:40AM,64 F,65 F,65.0,7,7.00,4,4.0,NaN,...,"mud snail,cunner,comb jelly,bay anchovy,atlant...","sea snail,cunner,comb jelly,bay anchovy,atlant...","4,1,Too Many To Count,1,10,2,2,1,1,1","4,1,30,1,10,2,2,1,1,1",NaN,"Cynthia Fowx, Hopson, Phillips",None,30,NaN,NaN
96,2017-06-03,10:00 AM- 11:30 AM,"68 F @ 9:45 AM, Cloudy","59 F @ 9 AM, 62 F @ 10 AM",59.0,did not perform,NaN,9,9.0,"20.4 cm, 40 NTU",...,"comb jelly,atlantic menhaden,blueback herring,...","comb jelly,atlantic menhaden,herring,american ...","TMTC,1,14,1,1,2,3,1,1,2,unknown","30,1,14,1,1,2,3,1,1,2,1",NaN,"Peter Park, Haley, Shad, Isa, Christina, 2 BBP...",NaN,118,NaN,"During several seines throughtout the summer, ..."
97,2017-06-09,3:30 PM- 5:00 PM,"90 F @ 3PM, 81 F @ 5 PM","66 F @ 3 PM, 63 F @ 5PM",66.0,"7, 7 (two tests by students)",7.00,"4, 0 (two tests by students)",4.0,Did not perform,...,"blueback herring,comb jelly,striped bass,bay a...","herring,comb jelly,striped bass,bay anchovy,no...","38,20,1,1,2,16,1,1,2","38,20,1,1,2,16,1,1,2",NaN,"Christina, Isa, Haley, Eliza",8 (St. Francis After School) plus few from YES...,NaN,NaN,NaN
98,2017-06-10,9:30 AM- 11:30 PM,75 F,73 F,73.0,8,8.00,0,0.0,Did not perform,...,"blueback herring,northern pipefish,blue crab,a...","herring,northern pipefish,blue crab,asian shor...","5,1,2,3,2,7,6,7,2,1,TMTC,TMTC,1","5,1,2,3,2,7,6,7,2,1,30,30,1",NaN,"Christina, Isa, Eliza, Haley, 4 SA, Laura",students too young,NaN,NaN,NaN
99,2017-06-18,9:30 AM- 11:00 AM,77 F/ Sunny,70 F,70.0,7,7.00,4,4.0,Did not perform,...,"comb jelly,blueback herring,mud snail,lady cra...","comb jelly,herring,sea snail,lady crab,shrimp,...","20 +,23,2,1,1,2,1,1","20,23,2,1,1,2,1,1",NaN,"Peter Park, 11 seiners",NaN,9,NaN,NaN
100,2017-06-25,4:00 PM- 5:00 PM,80 F/ Sun with clouds,Did not perform,NaN,did not perform,NaN,did not perform,NaN,did not perform,...,"sand shrimp,winter flounder,comb jelly,mud cra...","shrimp,flatfish,comb jelly,mud crab,blue crab,...","25,2,5,1,1,1","25,2,5,1,1,1",NaN,"Cynthia, Haley, Laura, Sarah, Isa",NaN,30?,1,NaN
101,2017-07-06,11:30 AM,84 F / Cloudy,78 F,78.0,7.8,7.80,6,6.0,"20 cm , 30 NTU",...,"comb jelly,oyster toadfish,tautog,unidentified...","comb jelly,oyster toadfish,tautog,herring,sea ...","TMTC,1,1,4,3,2,1,1","30,1,1,4,3,2,1,1",NaN,"Haley, Christina, Isa, Eliza, Shad",NaN,N/A Tank Stocking Day,NaN,NaN
102,2017-07-15,6:00 PM,"85 F, Sunny",75 F,75.0,7.5,7.50,6,6.0,20 NTU,...,"alewife,blue crab,comb jelly,shore shrimp,moon...","herring,blue crab,comb jelly,shrimp,jellyfish,...","5,1,TMTC,2,2,1,5,nan,nan,nan,nan,1 colony,1,5","5,1,30,2,2,1,5,1,1,1,1,1,1,5",NaN,"Cynthia, Volunteer, Eliza, Laura, Ethan, CMT",NaN,34,NaN,NaN
103,2017-07-19,10:30 AM,76 F,82 F,82.0,7 (4 TESTS),7.00,"3,4 (2 TESTS)",3.0,10 NTU?,...,"blue crab,atlantic silverside,asian shore crab...","blue crab,atlantic silverside,asian shore crab...","5,4,1,9,1,8 +,1,50+,2,1,3,1,1,2","5,4,1,9,1,8,1,50,2,1,3,1,1,2",NaN,"Laura, Eliza, Zebeda, Shad, Isa",St. Francis 20 seiners,NaN,1 for ENE,NaN
104,2017-07-22,Start: 1:30PM End:2:30PM,88F Sunny,76F,76.0,7.57,7.57,5,5.0,NaN,...,"blue crab,asian shore crab,striped bass,uniden...","blue crab,asian shore crab,striped bass,herrin...","2,1,1,8,1,2,2,1","2,1,1,8,1,2,2,1",NaN,"Isa, Cythia, Manny, Ethan, Bob",NaN,49,NaN,NaN
105,2017-08-02,Start: 10:00 AM End: 2:30 PM,84 F Partly Cloudy,75F,75.0,7.7,7.70,6,6.0,37 cm,...,"blue crab,striped bass,atlantic silverside,com...","blue crab,striped bass,atlantic silverside,com...","1,9,2,TMTC,12","1,9,2,30,12",NaN,"Christina, Shad, Eliza, Isa, Zebeda",students too young,NaN,0,NaN
106,2017-08-05,Unknown,73 F,75 F,75.0,7.5,7.50,6,6.0,35 cm,...,"tautog,cunner,winter flounder,blueback herring...","tautog,cunner,flatfish,herring,herring,norther...","4,1,4,34,1,1,1,2,3,1,7,3,TMTC,43,8","4,1,4,34,1,1,1,2,3,1,7,3,30,43,8",NaN,"Peter Park, Isa, Eliza, Kathy (vol), Shelieta ...",NaN,108,NaN,NaN
107,2017-08-20,Start: 1:00 PM End: 2:30 PM,75 F Sunny,75 F,75.0,7.31,7.31,4,4.0,24,...,"tautog,striped bass,atlantic menhaden,atlantic...","tautog,striped bass,atlantic menhaden,atlantic...","1,8,1,16,6,1,10,2,1,3,1,4,2,5,2,7,1","1,8,1,16,6,1,10,2,1,3,1,4,2,5,2,7,1",NaN,Peter Park,NaN,127,1,NaN
108,2017-09-17,Start: 11:45 AM End: 1:30 PM,75 F Partly Cloudy,72 F,72.0,7.77,7.77,6,6.0,60,...,"atlantic silverside,spotted whiff,striped bass...","atlantic silverside,spotted whiff,striped bass...","6,1,1,5,1,12,1,1,TMTC,2","6,1,1,5,1,12,1,1,30,2",NaN,"Cynthia F, Isa Del Bello",NaN,NaN,NaN,NaN
109,2017-10-07,Start: 3:00 PM End: 4:30 PM,84.5 F,72 F,72.0,NaN,NaN,6,6.0,0 JTU,...,"comb jelly,asian shore crab,oyster drill snail...","comb jelly,asian shore crab,sea snail,sea snail","TMTC,14,4,9","30,14,4,9",NaN,"Eliza, Elizabeth",11,2,1,NaN
110,2018-10-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,comb jelly,comb jelly,nan,1,NaN,NaN,NaN,NaN,NaN,NaN