In [1]:
import pandas as pd
import numpy as np

### Error in CLeaned for analysis all data found. Need to address before further progress can be made. Na's and out of orders show up in our new columns. This appears to come from the process of making Cleaned_For_Analysis_All_Data.csv

In [2]:
df = pd.read_csv('../Created CSVs/Cleaned_For_Analysis_All_Data.csv')

In [4]:
#df = df.drop(['Unnamed: 0', 'Unnamed: 0.1', 'index'], axis =1)

ValueError: labels ['Unnamed: 0.1' 'index'] not contained in axis

In [5]:
#df.tail()

In [6]:
grouped_df = df.groupby('Date')

In [7]:
",".join(list(grouped_df.get_group('2011-07-12')['Grouped Corrected Common Name']))

'atlantic silverside,blue crab,comb jelly,spider crab,jellyfish,tunicates,sea snail'

In [8]:
for col in grouped_df.get_group('2011-07-12').columns:
    print col

Unnamed: 0
Date
Time
Weather & Air Temp:
Water Temp:
Corrected Water Temp:
pH
Corrected pH
DO
Corrected DO
Turbidity
Salinity
Corrected Salinity
Tide is moving
Tide Times
# Hauls
Corrected # Hauls
Common Name
Corrected Common Name
Grouped Corrected Common Name
Quantity
Corrected Quantity
Scientific Name
Instructors/ Seine Staff:
# student seiners (CLASSES ONLY)
# of visitors (Public Seine ONLY)
# Brought to Ed Center
Other info (Gender, Length, Dead/Alive, other physical description)
NOTES FROM SEINEING SEASON:

In [9]:
from collections import defaultdict

In [10]:
dict_df = defaultdict(list)

In [11]:

for date in grouped_df.groups:
    for col in grouped_df.get_group(date).columns:
        if col in ['Grouped Corrected Common Name','Corrected Common Name','Corrected Quantity', 'Common Name', 'Quantity']:
            dict_df[col].append(",".join([str(x) for x in list(grouped_df.get_group(date)[col])]))
        else:
            dict_df[col].append(list(grouped_df.get_group(date)[col])[0])

In [12]:
combined_df =  pd.DataFrame(dict_df)

In [13]:
len(combined_df.columns)

29

In [14]:
combined_df = combined_df[['Date','Time','Weather & Air Temp:','Water Temp:','Corrected Water Temp:','pH','Corrected pH','DO',
              'Corrected DO','Turbidity','Salinity',
              'Corrected Salinity','Tide is moving','Tide Times','# Hauls','Corrected # Hauls','Common Name', 'Corrected Common Name', 
              'Grouped Corrected Common Name', 'Quantity', 
             'Corrected Quantity', 'Scientific Name',
            'Instructors/ Seine Staff:','# student seiners (CLASSES ONLY)',
             '# of visitors (Public Seine ONLY)', '# Brought to Ed Center',
            'NOTES FROM SEINEING SEASON:']].sort_values(by = 'Date').reset_index().drop('index', axis=1)

In [15]:
combined_df

,Date,Time,Weather & Air Temp:,Water Temp:,Corrected Water Temp:,pH,Corrected pH,DO,Corrected DO,Turbidity,...,Corrected Common Name,Grouped Corrected Common Name,Quantity,Corrected Quantity,Scientific Name,Instructors/ Seine Staff:,# student seiners (CLASSES ONLY),# of visitors (Public Seine ONLY),# Brought to Ed Center,NOTES FROM SEINEING SEASON:
0,2008-09-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"sea squirt,lions mane jellyfish,comb jelly,lad...","tunicates,jellyfish,comb jelly,lady crab,blue ...","nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,na...","1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1",NaN,NaN,NaN,NaN,NaN,NaN
1,2009-06-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"unidentified snail,unidentified hermit crab,hy...","sea snail,hermit crab,hydrozoa,comb jelly,blue...","nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan","1,1,1,1,1,1,1,1,1,1,1",NaN,NaN,NaN,NaN,NaN,NaN
2,2009-09-23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"northern pipefish,seahorse,atlantic silverside...","northern pipefish,northern seahorse,atlantic s...","nan,nan,nan,nan,nan","1,1,1,1,1",NaN,NaN,NaN,NaN,NaN,NaN
3,2010-06-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"atlantic silverside,atlantic tomcod,blue crab,...","atlantic silverside,atlantic tomcod,blue crab,...","nan,nan,nan,nan,nan,nan,nan,nan,nan","1,1,1,1,1,1,1,1,1",NaN,NaN,NaN,NaN,NaN,NaN
4,2010-06-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"shore shrimp,atlantic silverside,pin fish,comb...","shrimp,atlantic silverside,pin fish,comb jelly...","nan,nan,nan,nan,nan","1,1,1,1,1",NaN,NaN,NaN,NaN,NaN,NaN
5,2010-07-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"atlantic silverside,comb jelly","atlantic silverside,comb jelly","nan,nan","1,1",NaN,NaN,NaN,NaN,NaN,NaN
6,2010-07-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"sand shrimp,shore shrimp,winter flounder,strip...","shrimp,shrimp,flatfish,striped bass,northern p...","nan,nan,nan,nan,nan,nan,nan","1,1,1,1,1,1,1",NaN,NaN,NaN,NaN,NaN,NaN
7,2010-07-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"atlantic silverside,comb jelly,hydrozoa,amphip...","atlantic silverside,comb jelly,hydrozoa,amphip...","nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan","1,1,1,1,1,1,1,1,1,1,1",NaN,NaN,NaN,NaN,NaN,NaN
8,2010-07-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"hydrozoa,northern pipefish,comb jelly,bluefish...","hydrozoa,northern pipefish,comb jelly,bluefish...","nan,nan,nan,nan,nan,nan,nan,nan,nan,nan","1,1,1,1,1,1,1,1,1,1",NaN,NaN,NaN,NaN,NaN,NaN
9,2010-07-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"bluefish,unidentified snail,comb jelly,jelly f...","bluefish,sea snail,comb jelly,jellyfish,shrimp...","nan,nan,nan,nan,nan,nan,nan,nan,nan","1,1,1,1,1,1,1,1,1",NaN,NaN,NaN,NaN,NaN,NaN
10,2010-07-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"unidentified snail,northern sea robin,northern...","sea snail,sea robin,northern pipefish,flatfish...","nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,na...","1,1,1,1,1,1,1,1,1,1,1,1,1",NaN,NaN,NaN,NaN,NaN,NaN
11,2010-07-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"striped bass,northern puffer,winter flounder,a...","striped bass,puffer,flatfish,atlantic silversi...","nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,na...","1,1,1,1,1,1,1,1,1,1,1,1,1",NaN,NaN,NaN,NaN,NaN,NaN
12,2010-07-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"sennet,blue crab,sand shrimp,comb jelly,atlant...","sennet,blue crab,shrimp,comb jelly,atlantic si...","nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan","1,1,1,1,1,1,1,1,1,1,1",NaN,NaN,NaN,NaN,NaN,NaN
13,2010-08-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"striped bass,unidentified flatfish,atlantic si...","striped bass,flatfish,atlantic silverside,asia...","nan,nan,nan,nan,nan,nan,nan,nan,nan","1,1,1,1,1,1,1,1,1",NaN,NaN,NaN,NaN,NaN,NaN
14,2010-09-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"striped bass,bluefish,pin fish,blue crab,asian...","striped bass,bluefish,pin fish,blue crab,asian...","nan,nan,nan,nan,nan,nan,nan,nan,nan","1,1,1,1,1,1,1,1,1",NaN,NaN,NaN,NaN,NaN,NaN
15,2010-09-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"asian shore crab,blue crab,green crab,comb jel...","asian shore crab,blue crab,green crab,comb jel...","nan,nan,nan,nan,nan,nan,nan,nan,nan","1,1,1,1,1,1,1,1,1",NaN,NaN,NaN,NaN,NaN,NaN
16,2010-10-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"atlantic silverside,comb jelly,red beard spong...","atlantic silverside,comb jelly,sponge,mussel,a...","nan,nan,nan,nan,nan,nan","1,1,1,1,1,1",NaN,NaN,NaN,NaN,NaN,NaN
17,2011-05-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"moon jelly,unidentified snail,comb jelly,atlan...","jellyfish,sea snail,comb jelly,atlantic tomcod...","2,3,2,1,6,2","2,3,2,1,6,2",NaN,NaN,NaN,NaN,NaN,NaN
18,2011-05-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"bay anchovy,atlantic silverside,blue crab,comb...","bay anchovy,atlantic silverside,blue crab,comb...","3,27,9,1,2,1,6,1,2,68,4","3,27,9,1,2,1,6,1,2,68,4",NaN,NaN,NaN,NaN,NaN,NaN
19,2011-05-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"striped bass,unidentified shrimp,unidentified ...","striped bass,shrimp,herring,atlantic tomcod,co...","1,2,2,4,45,36,1","1,2,2,4,45,36,1",NaN,NaN,NaN,NaN,NaN,NaN
20,2011-05-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"bay anchovy,blue crab,comb jelly,unidentified ...","bay anchovy,blue crab,comb jelly,herring,shrim...","73,1,2,3,1,1","73,1,2,3,1,1",NaN,NaN,NaN,NaN,NaN,NaN
21,2011-06-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"northern pipefish,unidentified shrimp,unidenti...","northern pipefish,shrimp,flatfish,herring,blue...","1,37,1,1,6,9,1,20","1,37,1,1,6,9,1,20",NaN,NaN,NaN,NaN,NaN,NaN
22,2011-06-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"unidentified shrimp,eastern oyster,northern pi...","shrimp,oyster,northern pipefish,herring,tunica...","5,4,1,1,1,2,2,1,2,2,2","5,4,1,1,1,2,2,1,2,2,2",NaN,NaN,NaN,NaN,NaN,NaN
23,2011-06-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"unidentified snail,unidentified shrimp,unident...","sea snail,shrimp,herring,flatfish,comb jelly,b...","1,3,3,1,12,1,8,1,2","1,3,3,1,12,1,8,1,2",NaN,NaN,NaN,NaN,NaN,NaN
24,2011-07-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"sea squirt,striped bass,unidentified snail,tub...","tunicates,striped bass,sea snail,tube worm,pol...","15,1,4,1,1,10,1,1,60,18,5,30","15,1,4,1,1,10,1,1,60,18,5,30",NaN,NaN,NaN,NaN,NaN,NaN
25,2011-07-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"comb jelly,hogchoker,atlantic silverside,blue ...","comb jelly,flatfish,atlantic silverside,blue crab","20,1,5,1","20,1,5,1",NaN,NaN,NaN,NaN,NaN,NaN
26,2011-07-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"atlantic silverside,blue crab,comb jelly,spide...","atlantic silverside,blue crab,comb jelly,spide...","5,2,40,1,5,10,10","5,2,40,1,5,10,10",NaN,NaN,NaN,NaN,NaN,NaN
27,2011-07-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"unidentified snail,white perch,unidentified sh...","sea snail,white perch,shrimp,atlantic silversi...","1,1,1,3,2,20","1,1,1,3,2,20",NaN,NaN,NaN,NaN,NaN,NaN
28,2011-08-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"atlantic silverside,blue crab,comb jelly,easte...","atlantic silverside,blue crab,comb jelly,oyste...","6,1,20,1,0","6,1,20,1,0",NaN,NaN,NaN,NaN,NaN,NaN
29,2011-08-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"atlantic silverside,comb jelly,eastern oyster,...","atlantic silverside,comb jelly,oyster,oyster t...","10,20,1,1,0","10,20,1,1,0",NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100,2016-09-25,10:00AM - 11:40AM,64 F,65 F,65.0,7,7.00,4,4.0,NaN,...,"winter flounder,blue crab,mud crab,asian shore...","flatfish,blue crab,mud crab,asian shore crab,m...","1,1,1,2,2,Too Many To Count,1,1,4,10","1,1,1,2,2,30,1,1,4,10",NaN,"Cynthia Fowx, Hopson, Phillips",None,30,NaN,NaN
101,2016-09-28,10:30AM - 12:30AM,70 F,74 F,74.0,?,NaN,?,NaN,NaN,...,"atlantic silverside,atlantic menhaden,moon jel...","atlantic silverside,atlantic menhaden,jellyfis...","31,4,1,6,TMTC","31,4,1,6,30",NaN,"Isa, Eliza, Shad",?,70,NaN,NaN
102,2016-10-01,?,?,?,NaN,?,NaN,?,NaN,NaN,...,"atlantic silverside,porgy,cunner,mullet fish,b...","atlantic silverside,porgy,cunner,mullet fish,b...","26,5,1,1,2,1,TMTC,1","26,5,1,1,2,1,30,1",NaN,?,?,?,NaN,NaN
103,2017-06-03,10:00 AM- 11:30 AM,"68 F @ 9:45 AM, Cloudy","59 F @ 9 AM, 62 F @ 10 AM",59.0,did not perform,NaN,9,9.0,"20.4 cm, 40 NTU",...,"unidentified snail eggs,asian shore crab,oyste...","sea snail,asian shore crab,sea snail,sea snail...","unknown,2,1,3,2,1,1,14,1,TMTC,1","1,2,1,3,2,1,1,14,1,30,1",NaN,"Peter Park, Haley, Shad, Isa, Christina, 2 BBP...",NaN,118,NaN,NaN
104,2017-06-09,3:30 PM- 5:00 PM,"90 F @ 3PM, 81 F @ 5 PM","66 F @ 3 PM, 63 F @ 5PM",66.0,"7, 7 (two tests by students)",7.00,"4, 0 (two tests by students)",4.0,Did not perform,...,"mud snail,glass shrimp,asian shore crab,sand s...","sea snail,shrimp,asian shore crab,shrimp,north...","2,1,1,16,2,1,20,38,1","2,1,1,16,2,1,20,38,1",NaN,"Christina, Isa, Haley, Eliza",8 (St. Francis After School) plus few from YES...,NaN,2,NaN
105,2017-06-10,9:30 AM- 11:30 PM,75 F,73 F,73.0,8,8.00,0,0.0,Did not perform,...,"unidentified mussel,sandworm,sea squirt,comb j...","mussel,polychaete worm,tunicates,comb jelly,je...","2,1,TMTC,TMTC,1,7,5,7,2,3,2,1,6","2,1,30,30,1,7,5,7,2,3,2,1,6",NaN,"Christina, Isa, Eliza, Haley, 4 SA, Laura",students too young,NaN,NaN,NaN
106,2017-06-18,9:30 AM- 11:00 AM,77 F/ Sunny,70 F,70.0,7,7.00,4,4.0,Did not perform,...,"moon jelly,sand shrimp,shore shrimp,asian shor...","jellyfish,shrimp,shrimp,asian shore crab,sea s...","1,1,1,2,2,23,20 +,1","1,1,1,2,2,23,20,1",NaN,"Peter Park, 11 seiners",NaN,9,NaN,NaN
107,2017-06-25,4:00 PM- 5:00 PM,80 F/ Sun with clouds,Did not perform,NaN,did not perform,NaN,did not perform,NaN,did not perform,...,"sand shrimp,winter flounder,comb jelly,mud cra...","shrimp,flatfish,comb jelly,mud crab,blue crab,...","25,2,5,1,1,1","25,2,5,1,1,1",NaN,"Cynthia, Haley, Laura, Sarah, Isa",NaN,30?,1,NaN
108,2017-07-06,11:30 AM,84 F / Cloudy,78 F,78.0,7.8,7.80,6,6.0,"20 cm , 30 NTU",...,"oyster drill snail,atlantic menhaden,mud snail...","sea snail,atlantic menhaden,sea snail,shrimp,t...","2,1,3,1,1,1,TMTC,4","2,1,3,1,1,1,30,4",NaN,"Haley, Christina, Isa, Eliza, Shad",NaN,N/A Tank Stocking Day,2,NaN
109,2017-07-15,6:00 PM,"85 F, Sunny",75 F,75.0,7.5,7.50,6,6.0,20 NTU,...,"sea squirt,tunicate,cunner,black sea bass,taut...","tunicates,tunicates,cunner,black sea bass,taut...","1,1 colony,1,1,1,1,5,1,2,2,TMTC,1,5,5","1,1,1,1,1,1,5,1,2,2,30,1,5,5",NaN,"Cynthia, Volunteer, Eliza, Laura, Ethan, CMT",NaN,34,NaN,NaN
110,2017-07-19,10:30 AM,76 F,82 F,82.0,7 (4 TESTS),7.00,"3,4 (2 TESTS)",3.0,10 NTU?,...,"mud snail,sandworm,sand shrimp,shore shrimp,at...","sea snail,polychaete worm,shrimp,shrimp,atlant...","2,1,1,3,1,2,50+,8 +,1,9,1,4,5,1","2,1,1,3,1,2,50,8,1,9,1,4,5,1",NaN,"Laura, Eliza, Zebeda, Shad, Isa",St. Francis 20 seiners,NaN,2,NaN
111,2017-07-22,Start: 1:30PM End:2:30PM,88F Sunny,76F,76.0,7.57,7.57,5,5.0,NaN,...,"atlantic silverside,shore shrimp,sand shrimp,w...","atlantic silverside,shrimp,shrimp,flatfish,asi...","2,2,1,1,1,1,2,8","2,2,1,1,1,1,2,8",NaN,"Isa, Cythia, Manny, Ethan, Bob",NaN,49,2,NaN
112,2017-08-02,Start: 10:00 AM End: 2:30 PM,84 F Partly Cloudy,75F,75.0,7.7,7.70,6,6.0,37 cm,...,"blue crab,striped bass,atlantic silverside,com...","blue crab,striped bass,atlantic silverside,com...","1,9,2,TMTC,12","1,9,2,30,12",NaN,"Christina, Shad, Eliza, Isa, Zebeda",students too young,NaN,0,NaN
113,2017-08-05,Unknown,73 F,75 F,75.0,7.5,7.50,6,6.0,35 cm,...,"clam,eastern oyster,comb jelly,moon jelly,stri...","clam,oyster,comb jelly,jellyfish,striped bass,...","8,43,TMTC,3,7,1,3,2,1,1,34,4,1,4,1","8,43,30,3,7,1,3,2,1,1,34,4,1,4,1",NaN,"Peter Park, Isa, Eliza, Kathy (vol), Shelieta ...",NaN,108,2,NaN
114,2017-08-20,Start: 1:00 PM End: 2:30 PM,75 F Sunny,75 F,75.0,7.31,7.31,4,4.0,24,...,"unidentified hermit crab,moon jelly,comb jelly...","hermit crab,jellyfish,comb jelly,sea snail,sea...","1,1,7,2,5,2,4,3,1,2,10,1,6,16,1,8,1","1,1,7,2,5,2,4,3,1,2,10,1,6,16,1,8,1",NaN,Peter Park,NaN,127,NaN,NaN
115,2017-09-17,Start: 11:45 AM End: 1:30 PM,75 F Partly Cloudy,72 F,72.0,7.77,7.77,6,6.0,60,...,"shore shrimp,sculpin,atlantic silverside,asian...","shrimp,sculpin,atlantic silverside,asian shore...","2,1,1,12,TMTC,5,1,1,6,1","2,1,1,12,30,5,1,1,6,1",NaN,"Cynthia F, Isa Del Bello",NaN,NaN,NaN,NaN
116,2017-10-07,Start: 3:00 PM End: 4:30 PM,84.5 F,72 F,72.0,NaN,NaN,6,6.0,0 JTU,...,"comb jelly,asian shore crab,oyster drill snail...","comb jelly,asian shore crab,sea snail,sea snail","TMTC,14,4,9","30,14,4,9",NaN,"Eliza, Elizabeth",11,2,1,NaN
117,2017-10-19,unknown,"sunny, 71 F",65 F,65.0,"7.3 (7,7 with tabs)",7.30,"6 (4,4 with tabs)",6.0,38,...,"comb jelly,atlantic silverside,striped bass","comb jelly,atlantic silverside,striped bass","5-10,1,1","5,1,1",NaN,"Christina, Haley, Isa",St Francis/Teen Thursday,n/a,NaN,NaN
118,2018-05-30,2:40 PM - 3:10 PM,100 F,NaN,NaN,7.2,7.20,6,6.0,Did Not Perform,...,pollock,pollock,1.0,1,NaN,"10 seiners SA training, Instructors Eliza, Sha...",NaN,NaN,1,NaN
119,2018-05-31,4:00 PM - 5:20 PM,68 F/ Cloudy,NaN,NaN,7.6,7.60,4,4.0,30,...,"northern pipefish,tomcod,unidentified flatfish...","northern pipefish,tomcod,flatfish,shrimp,green...","4.0,9.0,1.0,10.0,1.0,1.0","4,9,1,10,1,1",NaN,"Christina, Haley",NaN,NaN,4,NaN
120,2018-06-02,4:15 PM - 6:30 PM,83,NaN,NaN,7,7.00,5,5.0,45,...,"periwinkle,ribbed mussel,blue mussel,shore cra...","periwinkle,mussel,mussel,shore crab,striped bass","12.0,1.0,10.0,21.0,1.0","12,1,10,21,1",NaN,"Eliza, Shad, Haley, Shinara, Shalita, Peter",NaN,85+,NaN,NaN
121,2018-06-27,1:45 PM,70,NaN,NaN,NaN,NaN,6,6.0,19.2,...,"unidentified herring,atlantic tomcod,shore shr...","herring,atlantic tomcod,shrimp,atlantic silver...","1.0,1.0,12.0,2.0,2.0","1,1,12,2,2",NaN,"CT, HM, SH, EP",NaN,NaN,0,NaN
122,2018-07-07,9:15 AM - 11:00 AM,73 Sunny,NaN,NaN,4,4.00,NaN,NaN,32,...,"clam,striped bass,skilletfish,sandworm,shore s...","clam,striped bass,skilletfish,polychaete worm,...","1.0,2.0,2.0,1.0,33.0,1.0,15.0,2.0,2.0,1.0,57.0...","1,2,2,1,33,1,15,2,2,1,57,4",NaN,"Cynthia, Eliza, Christina, Shad",NaN,NaN,1,NaN
123,2018-08-16,9:30 AM - 10:40 AM,95,NaN,NaN,7.91,7.91,6,6.0,Did not perform,...,"moon jelly,comb jelly,striped bass,long clawed...","jellyfish,comb jelly,striped bass,hermit crab,...","10.0,1.0,1.0,1.0,215.0,1.0,2.0","10,1,1,1,215,1,2",NaN,"Shad, Haley, Isa, Eliza, Christina, Peter",NaN,NaN,0,NaN
124,2018-08-24,1:50 PM - 3:00 PM,90,NaN,NaN,8.08,8.08,4,4.0,23 ppt,...,"tautog,comb jelly,moon jelly,skilletfish,shore...","tautog,comb jelly,jellyfish,skilletfish,shrimp...","1.0,2.0,2.0,1.0,5.0,1.0,1.0,2.0,44.0,10.0,1.0,...","1,2,2,1,5,1,1,2,44,10,1,2,2,5,1,1",NaN,"Isa, Eliza, Christina, Shad, and general staff...",NaN,NaN,1,NaN
125,2018-09-20,9:44 AM,78,NaN,NaN,Faulty,NaN,Faulty,NaN,did not perform,...,"moon jelly,periwinkle,mud snail,sand shrimp,sh...","jellyfish,periwinkle,sea snail,shrimp,shrimp,h...","5.0,2.0,4.0,1.0,2.0,2.0,6.0,2.0,1.0,47.0,2.0,1...","5,2,4,1,2,2,6,2,1,47,2,1,63,16,2",NaN,"Laura, Shalita, Freshkills Park Staff, CT, HM,...",NaN,NaN,0,NaN
126,2018-09-21,9:40 AM,72,NaN,NaN,8.1,8.10,4,4.0,45,...,"ribbed mussel,long clawed hermit crab,tautog,b...","mussel,hermit crab,tautog,blue crab,comb jelly...","1.0,18.0,3.0,6.0,17.0,1.0,2.0,1.0,55.0,4.0,6.0","1,18,3,6,17,1,2,1,55,4,6",NaN,"Kathy, Laura,Isa, City Growers Staff, CT, HM, SH",NaN,NaN,1,NaN
127,2018-10-05,11:30 AM - 12:10 PM,"67, Sunny",NaN,NaN,8,8.00,4,4.0,50,...,"sand shrimp,shore shrimp,skilletfish,mud snail...","shrimp,shrimp,skilletfish,sea snail,jellyfish,...","4.0,6.0,1.0,6.0,1.0,17.0,3.0,4.0,4.0,12.0,2.0,...","4,6,1,6,1,17,3,4,4,12,2,10",NaN,NaN,NaN,NaN,4,NaN
128,2018-10-06,9:30 AM -,"70, Cloudy",NaN,NaN,5.5,5.50,4.5,4.0,27,...,"long clawed hermit crab,bluefish,atlantic silv...","hermit crab,bluefish,atlantic silverside,porgy...","5.0,11.0,5.0,1.0,70.0,2.0,2.0","5,11,5,1,70,2,2",NaN,2,NaN,7,0,NaN
129,2018-10-18,4:20 PM - 5:20 PM,"53, windy and sunny",NaN,NaN,8.49,8.49,6,6.0,NaN,...,"striped bass,atlantic silverside,unidentified ...","striped bass,atlantic silverside,flatfish,herring","8.0,13.0,1.0,2.0","8,13,1,2",NaN,Christina,NaN,St. Francis After-School,5,NaN

In [17]:
combined_df.to_csv('../Created CSVs/Cleaned_For_Analysis_Compressed_By_Day.csv')

In [1]:
#combined_df